* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.hero {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  height: 100vh;
  min-height: 650px;
}

.hero-container {
  display: flex;
  height: 100%;
  width: 90%;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  /* Para colocar los elementos uno abajo del otro */
  flex-direction: column;
  justify-content: center;
}

.hero-pic {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero-img {
  display: block;
  width: 100%;
}

.hero-texts {
  color: white;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero-copy {
  line-height: 1.5;
  text-align: left;
}

.hero-cta {
  background-color: white;
  text-decoration: none;
  color: #b490ca;
  padding: 1em 2em;
  display: inline-block;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-texts {
    width: 50%;
  }
  .hero-pic {
    width: 45%;
    margin-bottom: 0;
    order: 1;
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-copy {
    margin: 0.7em 0 1em;
  }
}
