* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.element:hover {
  /* transform: rotate(360deg); */

  /* !Scale permite escalar a un elemento, podemos hacerlo mas grande o pequeño */
  /* Permite por medio de sus funciones scalex y scaley escalarlo en distintas direcciones */

  /* transform: scale(1.2); */

  /* !Skew nos permite deformar a un elemento, es decir sesgarlo. Recibe valores angulares */
  /* De igual manera nos provee sus funciones para modificar en X o Y */
  transform: skew(20deg);
}

.element {
  width: 200px;
  height: 200px;
  background-color: slateblue;
  margin: 60px;

  /* !Translate nos permite mover nuestros elementos en el eje x o y, para valores positivos en el eje x se movera de izquierda a derecha y para valores negativos se movera de derecha a izquierda; en el eje y para valores positivos se movera de abajo hacia arriba y para valores negativos de arrriba hacia abajo */
  /* transform: translateX(100%); */

  transition: 1s;
  /* !Rotate nos permite rotar nuestros elementos, solo acepta valores angulares */
}

.element2 {
  background-color: tomato;
  transform: unset;
}
